<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.dao.productCategory.ProductCategoryMapper" >
    <sql id="product_category_field">
      CATEGORY_ID,CATEGORY_NAME,CATEGORY_TYPE,CREATE_TIME,UPDATE_TIME,PARENT_ID
    </sql>
    <insert id="saveProductCategory" parameterType="com.manage.entity.productCategory.ProductCategoryModel">
      INSERT INTO PRODUCT_CATEGORY (CATEGORY_ID,CATEGORY_NAME,CATEGORY_TYPE,CREATE_TIME,UPDATE_TIME,PARENT_ID)
      VALUES
      (#{categoryId},#{categoryName},#{categoryType},#{createTime},#{updateTime},#{parentId})
    </insert>

    <select id="findOne" resultType="com.manage.entity.productCategory.ProductCategoryModel" >
        SELECT <include refid="product_category_field"></include> FROM PRODUCT_CATEGORY WHERE  CATEGORY_ID =#{categoryId}
    </select>
    <select id="findByParentId" resultType="com.manage.entity.productCategory.ProductCategoryModel" >
        SELECT <include refid="product_category_field"></include> FROM PRODUCT_CATEGORY WHERE  PARENT_ID =#{parentId}
    </select>
    <select id="findByIdIn" resultType="com.manage.entity.productCategory.ProductCategoryModel" >
        SELECT <include refid="product_category_field"></include> FROM PRODUCT_CATEGORY
        WHERE  CATEGORY_ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="findAll" resultType="com.manage.entity.productCategory.ProductCategoryModel">
        SELECT <include refid="product_category_field"></include> FROM  PRODUCT_CATEGORY
    </select>


    <update id="updateProductCategory" parameterType="com.manage.entity.productCategory.ProductCategoryModel">
        UPDATE PRODUCT_CATEGORY
        <set>
            <if test="categoryName!=null and categoryName!=''">
                CATEGORY_NAME = #{categoryName},
            </if>
            <if test="categoryType!=null and categoryType!=''">
                CATEGORY_TYPE = #{categoryType},
            </if>
            <if test="createTime!=null and createTime!=''">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime!=null and updateTime!=''">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="parentId!=null and parentId!=''">
                PARENT_ID = #{parentId},
            </if>
        </set>
        WHERE CATEGORY_ID = #{categoryId}
    </update>

    
    <delete id="deleteByIds">
        DELETE FROM PRODUCT_CATEGORY WHERE CATEGORY_ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>