<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.dao.product.ProductMapper" >
    <sql id="product_field">
         PRODUCT_ID,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_DESCRIPTION,PRODUCT_ICON,PRODUCT_STATUS,CATEGORY_TYPE,CREATE_TIME,UPDATE_TIME
    </sql>
    <insert id="saveProduct" parameterType="com.manage.entity.product.ProductModel">
      INSERT INTO PRODUCT (PRODUCT_ID,PRODUCT_NAME,PRODUCT_PRICE,PRODUCT_DESCRIPTION,PRODUCT_ICON,PRODUCT_STATUS,CATEGORY_TYPE,CREATE_TIME,UPDATE_TIME)
      VALUES
      (#{productId},#{productName},#{productPrice},#{productDescription},#{productIcon},#{productStatus},#{categoryType},#{createTime},#{updateTime})
    </insert>

    <select id="findOne" resultType="com.manage.entity.product.ProductModel" >
        SELECT <include refid="product_field"></include> FROM product WHERE  PRODUCT_ID =#{productId}
    </select>

    <select id="findUpAll" resultType="com.manage.entity.product.ProductModel">
        SELECT <include refid="product_field"></include> FROM  product WHERE PRODUCT_STATUS=#{@com.manage.config.Const@PRODUCT_UP_STATUS}
    </select>

    <select id="getProductBySomething" parameterType="com.manage.entity.product.ProductModel" resultType="com.manage.entity.product.ProductModel">
        SELECT  <include refid="product_field"></include>  FROM  product WHERE 1=1
            <if test="productModel.productName!=null and productModel.productName!=''">
                 AND product_name = #{productModel.productName}
            </if>
            <if test="productModel.productPrice!=null and productModel.productPrice!=''">
                AND PRODUCT_PRICE = #{productModel.productPrice}
            </if>
            <if test="productModel.productStatus!=null and productModel.productStatus!=''">
                AND PRODUCT_STATUS = #{productModel.productStatus}
            </if>
            <if test="productModel.categoryType!=null and productModel.categoryType!=''">
                AND CATEGORY_TYPE = #{productModel.categoryType}
            </if>
            <if test="productModel.createTime!=null and productModel.createTime!=''">
                AND CREATE_TIME = #{productModel.createTime}
            </if>
            <if test="pageSize !=null and pageSize!=''">
                limit #{currIndex},#{pageSize}
            </if>
    </select>

    <select id="findAll" resultType="com.manage.entity.product.ProductModel">
        SELECT  <include refid="product_field"></include> FROM product
    </select>

    <update id="updateProduct" parameterType="com.manage.entity.product.ProductModel">
        update product
        <set>
            <if test="productName!=null and productName!=''">
                product_name = #{productName},
            </if>
            <if test="productPrice!=null and productPrice!=''">
                PRODUCT_PRICE = #{productPrice},
            </if>
            <if test="productDescription!=null and productDescription!=''">
                PRODUCT_DESCRIPTION = #{productDescription},
            </if>
            <if test="productIcon!=null and productIcon!=''">
                PRODUCT_ICON = #{productIcon},
            </if>
            <if test="productStatus!=null and productStatus!=''">
                PRODUCT_STATUS = #{productStatus},
            </if>
            <if test="categoryType!=null and categoryType!=''">
                CATEGORY_TYPE = #{categoryType},
            </if>
            <if test="createTime!=null and createTime!=''">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime!=null and updateTime!=''">
                UPDATE_TIME = #{updateTime},
            </if>
        </set>
        where PRODUCT_ID = #{productId}
    </update>

    <delete id="delProduct">
        DELETE FROM product WHERE PRODUCT_ID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>