

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>移动桌面组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/eleTree.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<style>
    /* 这段样式只是用于演示 */
    #LAY-component-grid-mobile-pc .layui-card-body{display: flex; justify-content: center; flex-direction: column; text-align: center; height: 200px;}
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-sm3">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-header">分类设置</div>
                <div class="layui-card-body">
                    <div>
                        <div class="eleTree ele1" lay-filter="data1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm9">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div id="imgSettingName">图片设置 -- 当前分类：无</div>
                </div>
                <div class="layui-card-body">
                    <div id="page"></div>
                    <div id="imgSettingBody">
                        <div class="layui-row layui-col-space10" id="imgInfo">
                            <div class="layui-col-sm3" id="uploadImg" style="cursor:pointer;display:none;" title="点击上传图片">
                                <img style="height: 100%;width: 100%;" src="../../layuiadmin/style/res/template/upload.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        eleTree: 'lib/eleTree'
    }).use(['index','eleTree','laypage','upload'],function () {
        var $ = layui.jquery;
        var eleTree = layui.eleTree;
        var pathUrl = layui.setter.pathUrl;
        var admin = layui.admin;
        var laypage = layui.laypage;
        var upload = layui.upload;
        var myMethod = {
            init:function () {
                admin.req({
                    url: pathUrl+'/imgCtrl/getImgCategory' //实际使用请改成服务端真实接口
                    ,data: {}
                    ,done: function(res){
                        var merchantCode = res.data[0].merchantCode;
                        eleTree.render({
                            elem: '.ele1',
                            data: res.data,
                            renderAfterExpand: true,
                            expandOnClickNode: false,
                            highlightCurrent: true,
                            draggable: true,
                            defaultExpandedKeys: [0],
                            contextmenuList: ['add','edit','remove']
                        });


                        eleTree.on("nodeClick(data1)",function(d) {
                            $("#imgSettingName").html("图片设置 -- 当前分类："+d.data.currentData.label);
                            // 展示上传图片
                            $("#uploadImg").show();

                            // 点击的类别
                            var categoryId = d.data.currentData.id;
                            // 该类别下的所有类别
                            var categoryIdList = [categoryId];
                            categoryIdList = myMethod.getAllCategoryId(d.data.currentData.children,categoryIdList);
                            // 初始化文件上传
                            myMethod.initUpload(categoryId);
                            // 初始化图片信息
                            admin.req({
                                url: pathUrl + '/imgCtrl/countImgInfo' //实际使用请改成服务端真实接口
                                , data: {"categoryIdList":JSON.stringify(categoryIdList)}
                                , done: function (res) {
                                    // 初始化分页
                                    laypage.render({
                                        elem: 'page'
                                        ,count: res.data
                                        ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                                        ,jump: function(obj){
                                            console.log(obj);
                                            myMethod.initImg(categoryIdList,obj.limit,obj.curr);
                                        }
                                    });
                                }
                            });
                        });

                        // 添加子节点
                        eleTree.on("nodeAppend(data1)",function(e) {
                            var p = e.data.id;
                            var label = e.newData.label;
                            admin.req({
                                url: pathUrl + '/imgCtrl/addImgCategory' //实际使用请改成服务端真实接口
                                , data: {"parentId":p,"label":label,"merchantCode":merchantCode}
                                , done: function (res) {

                                }
                            });
                        });

                        // 添加节点之后
                        eleTree.on("nodeInsertAfter(data1)",function(d) {
                            var p = d.data.id;
                            var label = d.newData.label;
                            admin.req({
                                url: pathUrl + '/imgCtrl/addImgCategory' //实际使用请改成服务端真实接口
                                , data: {"parentId":p,"label":label,"merchantCode":merchantCode,"addType":1}
                                , done: function (res) {

                                }
                            });
                        });
                        // 修改
                        eleTree.on("nodeEdit(data1)",function(d) {
                            var id = d.data.id;
                            var label = d.value;
                            admin.req({
                                url: pathUrl + '/imgCtrl/editImgCategory' //实际使用请改成服务端真实接口
                                , data: {"id":id,"label":label}
                                , done: function (res) {

                                }
                            });
                        });
                        // 删除
                        eleTree.on("nodeRemove(data1)",function(d) {
                            var id = d.data.id;
                            admin.req({
                                url: pathUrl + '/imgCtrl/deleteImgCategory' //实际使用请改成服务端真实接口
                                , data: {"id":id}
                                , done: function (res) {

                                }
                            });
                        });

                    }
                });
            },
            initImg:function (categoryIdList,pageSize,pageNum) {
                admin.req({
                    url: pathUrl + '/imgCtrl/listImgInfo' //实际使用请改成服务端真实接口
                    , data: {"categoryIdList":JSON.stringify(categoryIdList),"pageSize":pageSize,"pageNum":pageNum}
                    , done: function (res) {
                        var imgInfo = "";
                        for (var i = 0; i < res.data.length; i++) {
                            imgInfo += "<div class=\"layui-col-sm3\">\n" +
                                "<img style=\"height: 100%;width: 100%;\" src=\"../../layuiadmin/style/res/template/portrait.png\">\n" +
                                "</div>";
                        }
                        $("#imgInfo").append(imgInfo);
                    }
                });
            },
            getAllCategoryId:function (arr,newArr) {
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i].children.length === 0) {
                        newArr.push(arr[i].id);
                    } else {
                        newArr.push(arr[i].id);
                        newArr = myMethod.getAllCategoryId(arr[i].children, newArr);
                    }
                }
                return newArr;
            },
            initUpload:function (categoryId) {
                //初始化上传图片
                upload.render({
                    elem: '#uploadImg'
                    ,url: pathUrl+'/imgCtrl/uploadImg'
                    ,multiple: true
                    ,accept: 'file' //普通文件
                    ,data: {"categoryId":categoryId}
                    ,done: function(res){

                    }
                });
            }
        };

        myMethod.init();
    });
</script>
</body>
</html>